div#block-drupalfirebasechatbot h2 {
    display: none;
}
.block-firebase-chatbot h2 {
    text-align: center;
    padding: 10px;
}
@font-face{
    font-family: 'Roboto';
    src: url('https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu72xKOzY.woff2') format('woff2');
}