<div class="layout-node-form clearfix">
	<div class="layout-region layout-region-node-main"> 
		{# kint(form) #}
                <div class="entity-meta entity-meta__header" style="padding:10px;">
                <h3>Country Information</h3>
                <b>{{ 'Language'|trans }}</b>
                <p style="margin-top:0px;">{{ 'The language used for this item. Please contact admin if you would like to import content in a language that is not currently supported.'|trans }}</p>
                {{ form.langcode }}
                {{ form.field_country }}
                </div>
                <br/><br/>
                <div class="entity-meta entity-meta__header" style="padding:10px;">
                <h3>SRH Module Information</h3>
                		{{ form.title }}
                        {{ form.body }}
                        {{ form.field_srh_module_icon }}
                        {{ form.field_srh_module_dependency }}
                 </div>

                <div class="entity-meta entity-meta__header" style="padding:10px;">
                <h3>SRH Profile Information</h3>
                        {{ form.field_srh_module_profile }}
                        {{ form.field_srh_stories }}
                 </div>
	   	{{ form.form_build_id }} {# required #}
		{{ form.form_id }} {# required #}
		{{ form.form_token }} {# required #}
    </div>
	<div class="layout-region layout-region-node-secondary">
         <div class="entity-meta entity-meta__header" style="padding:10px;">
                <h3>SRH Classification</h3>
                {{ form.field_tags }}
                {{ form.field_age_group }}
                        
        </div>
        <br/><br/>
            <div class="entity-meta entity-meta__header" style="padding:10px;">
                <h3>SRH Pervious and Next Link Information</h3>
                {{ form.field_srh_module_previous_link }}
		       {{ form.field_srh_module_next_link }}
            </div>
            <br/><br/>
            <div class="entity-meta entity-meta__header" style="padding:10px;">
                <h3>SRH Pre and Post Quiz Information</h3>
                {{ form.field_srh_module_pre_quiz }}
               {{ form.field_srh_module_post_quiz }}
            </div>
            <br/><br/>
		{{ form.advanced }}
	</div>
        
	<div class="layout-region layout-region-node-footer">
		<div class="layout-region-node-footer__content">
			{{ form.footer }}
			{{ form.actions }}
		</div>
	</div>
</div>
