<div class="layout-node-form clearfix">
    <div class="layout-region layout-region-node-main"> 
        {# kint(form) #}
                <div class="entity-meta entity-meta__header" style="padding:10px;">
                <h3>Country Information</h3>
                <b>{{ 'Language'|trans }}</b>
                <p style="margin-top:0px;">{{ 'The language used for this item. Please contact admin if you would like to import content in a language that is not currently supported.'|trans }}</p>
                {{ form.langcode }}
                {{ form.field_country }}
                </div>
                <br/><br/>
                <div class="entity-meta entity-meta__header" style="padding:10px;">
                <h3>SRH Information</h3>
                        {{ form.title }}
                        {{ form.field_user_text }}
                        {{ form.field_user_age_group }}
                        {{ form.field_tips_gender }}
                        {{ form.field_education_level }}
                        {{ form.field_extra_profile_data }}
                        {{ form.field_unique_identifier }}
                        {{ form.field_srh_content_item_reference }}
                 </div>
                 <br/><br/>
                 <div class="entity-meta entity-meta__header" style="padding:10px;">
                <h3>SRH Tips Like Information</h3>
                        {{ form.field_tips_like_count }}
                        {{ form.field_users_who_liked_the_tips }}
                 </div>
        {{ form.form_build_id }} {# required #}
        {{ form.form_id }} {# required #}
        {{ form.form_token }} {# required #}
    </div>
    <div class="layout-region layout-region-node-secondary">
            <div class="entity-meta entity-meta__header" style="padding:10px;">
                <h3>SRH Consent to Publish</h3>
                {{ form.field_consent_to_publish }}
               {{ form.field_consent_to_share_on_social }}
            </div>
            <br/><br/>
        {{ form.advanced }}
    </div>
        
    <div class="layout-region layout-region-node-footer">
        <div class="layout-region-node-footer__content">
            {{ form.footer }}
            {{ form.actions }}
        </div>
    </div>
</div>