<div class="layout-node-form clearfix">
    <div class="layout-region layout-region-node-main"> 
        {# kint(form) #}
                <div class="entity-meta entity-meta__header" style="padding:10px;">
                <h3>Country Information</h3>
                {{ form.langcode }}
                <p style="margin-top:0px;">{{ 'The language used for this item. Please contact admin if you would like to import content in a language that is not currently supported.'|trans }}</p>
                {{ form.field_country }}
                </div>
                <br/><br/>
                <div class="entity-meta entity-meta__header" style="padding:10px;">
                <h3>SRH Information</h3>
                 {{ form.title }}
                 {{ form.field_poll_or_survey }}
                 {{ form.field_survey_poll_multiple_times }}
                 {{ form.field_srh_survey_question }}
                 </div>
        {{ form.form_build_id }} {# required #}
        {{ form.form_id }} {# required #}
        {{ form.form_token }} {# required #}
    </div>
    <div class="layout-region layout-region-node-secondary">
            <div class="entity-meta entity-meta__header" style="padding:10px;">
                {{ form.advanced }}
            </div>
            <br/><br/>
    </div>
        
    <div class="layout-region layout-region-node-footer">
        <div class="layout-region-node-footer__content">
            {{ form.footer }}
            {{ form.actions }}
        </div>
    </div>
</div>