<div class="layout-node-form clearfix">
	<div class="layout-region layout-region-node-main"> 
		{# kint(form) #}
                <div class="entity-meta entity-meta__header" style="padding:10px;">
                <h3>Country Information</h3>
                <b>{{ 'Language'|trans }}</b>
                <p style="margin-top:0px;">{{ 'The language used for this item. Please contact admin if you would like to import content in a language that is not currently supported.'|trans }}</p>
                {{ form.langcode }}
                {{ form.field_country }}
                </div>
                <br/><br/>
                <div class="entity-meta entity-meta__header" style="padding:10px;">
                <h3>SRH Information</h3>
                {{ form.title }}
                {{ form.field_author_comment }}
            		{{ form.field_cover_image }}
            		{{ form.field_short_description }}
            		{{ form.field_description }}
                {{ form.field_video }}
                {{ form.field_image }}
                
                 </div>
                {{ form.field_hot_srh_content }}
                {{ form.field_sms_text }}
                {{ form.field_social_media_text }}
                {{ form.field_recommended_articles }}
	   	{{ form.form_build_id }} {# required #}
		{{ form.form_id }} {# required #}
		{{ form.form_token }} {# required #}
    </div>
	<div class="layout-region layout-region-node-secondary">
            <div class="entity-meta entity-meta__header" style="padding:10px;">
                <h3>SRH Content Classification</h3>
                {{ form.field_thematic_area }}
		       {{ form.field_child_term }}
               {{ form.field_srh_context_taxonomy }}
               {{ form.field_context_child_term }}
               {{ form.field_srh_profile }}
               {{ form.field_age_group }}
               {{ form.field_objective }} 
               {{ form.field_tags }}
            </div>
            <br/><br/>
		{{ form.advanced }}
	</div>
        
	<div class="layout-region layout-region-node-footer">
		<div class="layout-region-node-footer__content">
			{{ form.footer }}
			{{ form.actions }}
		</div>
	</div>
</div>
