<div class="layout-node-form clearfix">
	<div class="layout-region layout-region-node-main"> 
		{# kint(form) #}
        {{ form.form_build_id }} {# required #}
        {{ form.form_id }} {# required #}
        {{ form.form_token }} {# required #}
                <div class="entity-meta entity-meta__header" style="padding:10px;">
                <h3>General Information</h3>
                {{ form.title }}
                {{ form.field_name }}
                <b>{{ 'Language'|trans }}</b>
                <p style="margin-top:0px;">{{ 'The language used for this item. Please contact admin if you would like to import content in a language that is not currently supported.'|trans }}</p>
                {{ form.langcode }}
                {{ form.field_timezone }}
                </div>
                <br/><br/>
                <div class="entity-meta entity-meta__header" style="padding:10px;">
                <h3>Address</h3>
				{{ form.field_address_field_1 }}
				{{ form.field_address_field_2 }}
				{{ form.field_city }}
				{{ form.field_municipal_region }}
				{{ form.field_postal_code }}
				{{ form.field_country }}
                {{ form.field_latitude }}
                {{ form.field_longitude }}
                {{ form.field_lat_lng }}
                 </div>
    </div>
	<div class="layout-region layout-region-node-secondary">
			<div class="entity-meta entity-meta__header" style="padding:10px;">
                <h3>SRH Services</h3>
                {{ form.field_hours_of_operation }}
                {{ form.field_office_hours }}
				{{ form.field_service_provided }}   
            </div>
            <br/><br/>
            <div class="entity-meta entity-meta__header" style="padding:10px;">
                <h3>Contact Information</h3>
                {{ form.field_telephone }}
				{{ form.field_primary_doctor }}
                {{ form.field_primary_nurse }}    
            </div>
            <br/><br/>
		{{ form.advanced }}
	</div>
        
	<div class="layout-region layout-region-node-footer">
		<div class="layout-region-node-footer__content">
			{{ form.footer }}
			{{ form.actions }}
		</div>
	</div>
</div>
