<div class="layout-node-form mobile-configuration clearfix">
	<div class="layout-region layout-region-node-main"> 
		{{ form.form_build_id }} {# required #}
		{{ form.form_id }} {# required #}
		{{ form.form_token }} {# required #}
                <div class="entity-meta entity-meta__header" style="padding:10px;">
                <h3>Configuration Details</h3>
                {{ form.field_country }}{# required #}
                {{ kint(form.langcode) }}
                <b>{{ 'Language'|trans }}</b>
                <p style="margin-top:0px;">{{ 'The language used for this item. Please contact admin if you would like to import content in a language that is not currently supported.'|trans }}</p>
                {{ form.langcode }}
                </div>
                <br/><br/>
                <div class="entity-meta entity-meta__header" style="padding:10px;">
                <h3>Branding details</h3>
        		{{ form.title }}{# required #}
        		{{ form.field_subtitle }}
        		{{ form.field_image }}
                 </div>
                   <br/><br/>
                <div class="entity-meta entity-meta__header" style="padding:10px;">
                <h3>Connections</h3>
                {{ form.field_sms_getway_url }}
                {{ form.field_sms_username }}
                {{ form.field_sms_auth }}
                </div>
                <div class="entity-meta entity-meta__header" style="padding:10px;">
                <h3>Audio Files</h3>
                <p>{{ '(Optional)App wide audio files for use in customized apps'|trans }}</p>
                {{ form.field_audio_file_1 }}
                {{ form.field_audio_file_2 }}
                </div>
                <div class="entity-meta entity-meta__header" style="padding:10px;">
                <h3>About Page</h3>
                {{ form.field_about }}
                </div>
    </div>
	<div class="layout-region layout-region-node-secondary">
            <div class="entity-meta entity-meta__header" style="padding:10px;">
                <h3>Client App configuration</h3>
                {{ form.field_client_code }}
				{{ form.field_contact_number }}
				<div class="entity-meta entity-meta__header" style="padding:10px;">
				<h4>Client Tools</h4>
                <p>{{ 'Indicates features of the mobile app to turn on or off.'|trans }}</p>
					{{ form.field_enable_service_locator }}
					{{ form.field_enable_live_chat }}    
					{{ form.field_enable_health_manager }}
                    {{ form.field_enable_my_voice }}
                    {{ form.field_enable_user_tips }}
					{{ form.field_health_management }}
					{{ form.field_maximum_distance }}
				</div>
            </div>
            <br/><br/>
		{{ form.advanced }}
	</div>
        
	<div class="layout-region layout-region-node-footer">
		<div class="layout-region-node-footer__content">
			{{ form.footer }}
			{{ form.actions }}
		</div>
	</div>
</div>
