/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */
header#navbar {
    width: 100%;
    max-width: 100%;
    background: #434343;
}

body {
    margin-top: 0px!important;
    font-family: 'Roboto', sans-serif;
}
.navbar-default .navbar-brand {
    color: #ffffff;
    font-size: 1.821em;
    padding-top: 45px;
}
.navbar-default .navbar-brand:hover {
    color: #ffffff;
}
ul.menu.menu--account a {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #ffffff;
}
form#user-login-form {
    width: 40%;
    padding: 10px;
    border: 1px solid #ddd;
}
.path-user nav.tabs {
    width: 40%;
}
section.col-sm-12 {
    margin-bottom: 50px;
}
nav.toolbar-lining ul.toolbar-menu li.menu-item a.toolbar-icon {
    color: #bbb;
}
.toolbar-horizontal .toolbar-tray .menu-item + .menu-item {
    border: none;
}
.toolbar-menu-administration ul.toolbar-menu li.menu-item {
    background: #333;
    border: none;
}
.toolbar .toolbar-tray {
    background-color: #333;
    border-bottom: none;
    box-shadow: 3px 1px 3px 1px #333;
    border: none;
}
.toolbar ul ul li.menu-item {
    border: #333;
}
.toolbar button.toolbar-icon {
    background-color: #333;
    border: none;
    box-shadow: -1px 0 3px 1px #333;
}
header#navbar {
    width: 100%;
    max-width: 100%;
    background: #434343;
    border-color: #333;
    border-radius: 0px;
}
.toolbar .toolbar-toggle-orientation {
    background-color: #333;
}
.toolbar .toolbar-tray-vertical .menu-item + .menu-item {
    border-top: 1px solid #333;
}
.toolbar .toolbar-tray-vertical .menu-item:last-child {
    border-bottom: 1px solid #333;
}
.toolbar .toolbar-tray-horizontal ul ul li.menu-item:first-child {
    border: 1px solid #333;
}
.toolbar-tray-horizontal .menu-item a:focus {
    background: transparent;
}
.toolbar .toolbar-bar .toolbar-item {
    color: #ddd;
}
.toolbar .toolbar-menu {
    background-color: #333;
}
.toolbar .toolbar-menu li.menu-item a {
    color: #bbb;
}
.toolbar-tray-horizontal .menu-item:hover {
    background: #333;
}
/*--------------------View Display formatting------------------*/
.srh-content .field.field--name-field-image.field--type-image {
    width: 48%;
}
.srh-content .field.field--name-field-cover-image.field--type-image {
    width: 48%;
}
.srh-content .field.field--name-field-short-description.field--type-string-long {
    display: inline-block;
}
.srh-content .field {
    margin-bottom: 5px;
    margin-top: 5px;
}
.field.field--name-field-thematic-area.field--type-entity-reference.field--label-above.quickedit-field ul.shs.shs-linked {
    margin-bottom: 0px;
}
.field.field--name-field-thematic-area.field--type-entity-reference {
    display: inline-block;
}
.field.field--name-field-description {
    display: inline-block;
}
.mobile-configuration .field, .srh-provider-feedback .field, .srh-quiz-question .field, .srh-quiz-response .field, .srh-quiz .field, .srh-service-provider .field{
    margin-bottom: 5px;
    margin-top: 5px;
}