/*.adminimal .content-header {
    background-color: #f48633;
}
.adminimal .page-title {
    color: #333;
}
main.page-content {
    position: relative;
    display: block;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 10px;
}*/

body{
	font-family: 'Roboto', sans-serif;
}
.view-content div#edit-actions {
    clear: none;
    display: inline-block;
    padding-top: 18px;
    margin-bottom: 0;
}
.view-content .js-form-item.form-item.form-type-select.js-form-item-action.form-item-action {
    display: inline-block;
}
.view-content div#edit-actions--2 {
    display: inline-block;
}
section.col-sm-12 {
    margin-bottom: 50px;
}
.path-frontpage .region.region-content h2.block-title {
    font-size: 20px;
}

.form-item-field-srh-content-items .multiselect-available,
.form-item-field-srh-stories .multiselect-available{
    width: 90%;
}

.form-item-field-srh-content-items .multiselect-selected,
.form-item-field-srh-stories .multiselect-selected{
    width: 100%;
    float: none;
}

.form-item-field-srh-content-items .multiselect-wrapper select.form-multiselect,
.form-item-field-srh-stories .multiselect-wrapper select.form-multiselect{
    width: 100%;
}
.form-item-field-srh-content-items .multiselect-btns ul,
.form-item-field-srh-stories .multiselect-btns ul{
    margin: 20px 10px 0px 25px;
}
.node-srh-content-form #edit-field-srh-profile--wrapper .fieldset-wrapper{
    height: 300px;
    overflow: scroll;
}
.node-srh-content-form #edit-field-srh-profile {
    border: 1px solid #b8b8b8;
    padding-left: 6px;
}
.extra-description {
    font-size: inherit;
    color: inherit;
    text-transform: none;
}